IDI_ICON1 ICON DISCARDABLE "{{ICON_PATH}}"

1 VERSIONINFO
FILEVERSION {{FILE_VERSION_NUM}}
PRODUCTVERSION {{PRODUCT_VERSION_NUM}}
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "coldino\0"
            VALUE "FileDescription", "URL Ferry\0"
            VALUE "FileVersion", "{{FILE_VERSION_STR}}\0"
            VALUE "InternalName", "url-ferry\0"
            VALUE "ProductName", "URL Ferry\0"
            VALUE "ProductVersion", "{{PRODUCT_VERSION_STR}}\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
